
.page-header {
    border-bottom: 1px solid var(--header-line);
    padding-top: 24px;
    padding-bottom: 25px;
}

.page-header>.container {
    display: flex;
    align-items: center;
}

/* HEADER */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 90px;
}
.logo-black {
    color: var(--black-logotext-color);
}

.menu-link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 34px;
    padding-bottom: 34px;
    letter-spacing: 0.02em;
    color: var(--body-title-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color var(--transition-dur-and-func);
}

.contact-phonenumber,
.contact-email {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-func);
}

.email-icon {
    margin-right: 10px;
    fill: currentColor;

}

.phone-icon {
    margin-right: 10px;
    fill: currentColor;
}


.page-header .active,
.page-header  a:hover,
.page-header  a:focus,
.page-footer  a:hover,
.page-footer  a:focus {
    color: var(--blue-text-color);
}

.menu-link.active::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--button-hover-color) ;
}

.header-container {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    column-gap: 50px;
}

.contact-nav {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}

.test-div {
    display: flex;
}

/* BODY */

.business-solutions {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url('../images/solution.jpg');
     background-size: cover;
     margin: 0px auto;
     max-width: 1600px;
     height: 600px;
     background-repeat: no-repeat;   
     background-color: var(--background-solution-color);
     
}

.business-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--blue-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:0px;
    transition: background-color var(--transition-dur-and-func);
}

.button-text:hover {
    background-color:var(--button-hover-color);
}

.features-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.features-text    {
    font-weight: 400;
    line-height: 1.71;
    color: var(--body-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.features-pos {
    display: flex;
    gap: 30px;

}

.features-item {
    flex-basis: calc((100% - 90px) / 4);
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.work-style {
    padding-top: 0;
}

.product-cards {
    position: relative;
}

.product-img {

    display: flex;
    gap: 30px;
}

.product-overley {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-text-color);
    line-height: 1.2;
    width: 100%;
    height: 70px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.team {
    background-color: var(--team-background-color);
}

.team-style {
    display: flex;
    gap: 30px;
}

.card-back {
    background-color: var(--team-background-card-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    margin-bottom: 10px;
}

.worker-cards {
    padding-top: 30px;
    padding-bottom: 30px;
}
.work-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--body-text-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.social-list-icon {
    fill: currentColor;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-link-color);
    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--blue-text-color);
    color: var(--white-text-color);
}



.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-logobox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--background-solution-color);
    color: var(--icon-link-color);
    width: 170px;
    height: 92px;
    transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.client-logo {
    fill: currentColor;
}

.client-logobox:hover,
.client-logobox:focus {
    border-color: var(--blue-text-color);
    color: var(--blue-text-color);
}



/* PORTFOLIO */

.port-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--team-background-color);
    color: var(--body-title-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.current {
    background-color: var(--blue-text-color);
    color: var(--white-text-color) ;
}

.port-button:active,
.port-button:hover,
.port-button:focus {
    background-color: var(--blue-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-text-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--body-title-color);
    cursor: pointer;
}

.portfolio-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: var(--body-text-color);

}

.portfolio-button-styles {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-li {
    width: 370px;
}   


.portfolio-image {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func) ;
}

.portfolio-card-link:hover .portfolio-overlay,
.portfolio-card-link:focus .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-content-style {
    padding: 20px 24px;
    border: 1px solid var(--card-border-color);
    border-top: none;
}

.portfolio-card-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* FOOTER */
.page-footer {
    background-color: var(--background-gray-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.logo-white {
    color: var(--white-text-color);
}

.contact-location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.714;
    color: var(--white-text-color);
    transition: color var(--transition-dur-and-func);
}

.footer-email,
.footer-phonenumber {
    font-style: normal;
    font-weight: 400;
    line-height: 1.714;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
}


.footer-menu-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-head{
    display: flex;
    align-items: baseline;
}

.footer-div {
    margin-right: 70px;
}
.footer-enj {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--team-background-card-color);
    text-transform: uppercase;
    font-weight: 700;
}

.footer-modal-form {
    display: flex;
}

.footer-modal-form-div {
    margin-left: auto;
}

.footer-form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: var(--background-gray-color);
    padding-left: 16px;
}  

.footer-form-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--blue-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:0px;
    transition: background-color var(--transition-dur-and-func);
}

.footer-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer-form-input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.icon-send {
    fill: var(--team-background-card-color);
    margin-left: 10px;
}

.social-list-icon-footer {
    fill: currentColor;
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--team-background-card-color);
    transition: background-color var(--transition-dur-and-func);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--blue-text-color);
}

.social-list-link-footer:hover .social-list-icon-footer,
.social-list-link-footer:focus .social-list-icon-footer {
    fill: var(--white-text-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--background-backdrop);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: var(--team-background-card-color);
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    transition: var(--transition-dur-and-func);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    fill: var(--button-hover-color);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* МОДАЛЬНА ФОРМА */

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--button-hover-color);
}

.modal-form-field-desc {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--body-text-color);
    margin-bottom: 4px;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-last {
    margin-bottom: 17px;
}

.modal-form-footer {
    margin-right: 10px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: block;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--button-hover-color);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px;
    resize: none;
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--button-hover-color);
}

.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-own-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid var(--body-title-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
}

.modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--body-text-color);
}

.modal-form-check-link {
    color: var(--blue-text-color);
}

.modal-form-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--blue-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:0px;
    transition: background-color var(--transition-dur-and-func);
}

.modal-form-submit {
    background-color:var(--button-hover-color);
}

.modal-form-own-checkbox-icon {
    display: none;
}

.modal-form-check:checked + .modal-form-own-checkbox {
    background-color: var(--button-hover-color);
}

.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
    display: block;
    fill: var(--team-background-card-color);
}

.modal-form-check:focus + .modal-form-own-checkbox {
    box-shadow: 0 0 0 2px var(--button-hover-color);
    border-color: var(--button-hover-color) ;
}

.modal-form-check {
    position: absolute; 
    appearance: none;
}